@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
}

.medium-zoom-image--opened {
    z-index: 15;
}

.medium-zoom-overlay {
    z-index: 10;
}

.scrollbar-hidden {
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    width: 0;
}

.cherry, .cherry-toolbar, .cherry-editor, .cherry-previewer, .cherry-drag {
    box-shadow: none !important;
}

.cherry-drag {
    width: 2px !important;
}

@media (prefers-color-scheme: dark) {
    .cherry-drag {
        background: oklch(var(--b2)) !important;
    }
}